@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;600&display=swap");
.instagram-main {
  padding-left: 144px;
  padding-right: 156px;
}

.instagram-header {
  text-align: center;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 40px;
  line-height: 50.28px;
  margin-top: 0;
  margin-bottom: 65px;
}

.instagram-carousel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.instagram-carousel-photo {
  width: 367px;
  height: 367px;
}
.instagram-dots-for-mobile {
  display: none;
}

@media all and (max-width: 375px) {
  .instagram-photo-for-desktop {
    display: none;
  }
  .instagram-main {
    padding: 0;
  }
  .instagram-header {
    font-size: 28px;
    line-height: 35.2px;
  }
  .instagram-carousel-photo {
    width: 375px;
    height: 367px;
  }
  .instagram-dots-for-mobile {
    display: block;
    text-align: center;
  }
}
