.services_image {
  width: 560px;
  height: 396px;
  margin-right: 41px;
}

.services-main {
  display: flex;
  padding: 99px 129px 99px 150px;
}

.services_text h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 40px;
  margin: 0;
}

.services_text p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.bold-text {
  font-weight: 600;
}

.services_text {
  position: relative;
  height: 396px;
}

.arrow-button-container {
  position: absolute;
  bottom: 0;
}

.dots-buttons-container {
  text-align: center;
  display: none;
  margin-top: 29px;
}

@media all and (max-width: 375px) {
  .services-main {
    display: flex;
    flex-direction: column-reverse;
    padding: 50px 27px 55px 28px;
  }
  .ellipse-image-left,
  .ellipse-image-right {
    display: none;
  }
  .services_text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
  }
  .services_text h2 {
    font-size: 28px;
    line-height: 35.2px;
  }
  .services_image {
    margin-right: 0;
    width: 318px;
    height: 225px;
  }
  .services_text {
    height: auto;
  }
  .dots-buttons-container {
    display: block;
  }
  .arrow-button-container {
    display: none;
  }
}
