@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;600&display=swap");

.check-up-main {
  height: 623px;
  background-color: #e7f7ff;
  background-image: url("../../assets/check-up-background.png");
}

.check-up-title {
  margin: 0;
  padding-top: 64px;
  padding-left: 152px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  line-height: 80px;
  font-size: 34px;
}

.check-up-title-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
}

.check-up-text {
  padding-left: 149px;
  width: 559px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.check-up-text-bold {
  font-weight: 600;
}

.check-up-old-price {
  padding-left: 247px;
  margin-top: 84px;
  color: #848484;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  text-decoration: line-through;
  margin-bottom: 0;
}

.check-up-new-price {
  padding-left: 182px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.88px;
}

@media all and (max-width: 375px) {
  .check-up-main {
    width: 375px;
    padding-top: 51px;
    padding-left: 28px;
    background-image: url(../../assets/check-up-background-mobile.png);
  }
  .check-up-title {
    padding: 0;
    font-size: 24px;
    line-height: 30.17px;
    font-weight: 400;
  }
  .check-up-text {
    padding: 0;
  }
  .check-up-title-bold {
    font-size: 50px;
  }
  .check-up-text {
    width: 321px;
  }
  .check-up-old-price {
    margin-top: 99px;
    text-align: right;
    padding-left: 0;
    padding-right: 144px;
  }
  .check-up-new-price {
    text-align: right;
    padding-left: 0;
    padding-right: 144px;
    margin-bottom: 17px;
  }
}
