.our-motto-main {
  background-image: url(../../assets/our-motto-background.png);
  padding-top: 111px;
  padding-right: 148px;
  padding-bottom: 84px;
}

.our-motto-header {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50.28px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 45px;
  text-align: right;
}

.our-motto-text-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 192px;
  width: 505px;
  margin: 0 0 0 auto;
}

.out-motto-text {
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin: 0;
}

@media all and (max-width: 375px) {
  .our-motto-main {
    background-image: url(../../assets/our-motto-mobile-background.png);
    padding-top: 114px;
    padding-left: 28px;
    padding-right: 0;
  }
  .our-motto-header {
    font-size: 28px;
    line-height: 35.2px;
    text-align: left;
  }
  .our-motto-text-block {
    display: block;
    margin: 0;
    width: 298px;
    height: auto;
  }
  .out-motto-text {
    text-align: left;
  }
}
