@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@400;500;600&display=swap");

.main-block {
  background-image: url(../../assets/blackout.png),
    url(../../assets/main-background.png);
  height: 573px;
  color: white;
}

.main-block h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-top: 145px;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  font-weight: 400;
}

.main-block h1 {
  font-size: 55px;
  text-align: center;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 68px;
  line-height: 60px;
  font-family: "Merriweather", serif;
}
