@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;600&display=swap");

.carousel-main {
  position: relative;
  background: #4b4141;
  padding: 64px 150px 71px;
}

.carousel-content {
  height: 558px;
  width: 1140px;
}

.carousel-header {
  text-align: center;
  margin: 0;
  color: white;
  font-family: "Merriweather";
  font-size: 40px;
  line-height: 50.28px;
  font-weight: 700;
}

.carousel-header-text {
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: 400;
  line-height: 24.38px;
  font-family: Montserrat;
}

.carousel-flex-pictures {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  align-items: center;
}

.carousel-picture {
  width: 270px;
  height: 249px;
}

.carousel-middle-picture {
  width: 493px;
  height: 334px;
  margin-left: 51px;
  margin-right: 56px;
}

.carousel-play-button-background {
  position: absolute;
  top: calc(50% - 15px);
  right: calc(50% - 58px);
  height: 76px;
  width: 116px;
}

.carousel-play-button {
  position: absolute;
  width: 52px;
  height: 43px;
  top: 50%;
  right: calc(50% - 28px);
}

.carousel-buttons-section-main {
  max-width: 256px;
  display: block;
  margin: 35px auto 0;
}

.carousel-buttons-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 375px) {
  .carousel-picture {
    display: none;
  }
  .carousel-main {
    height: 500px;
    padding-left: 28px;
    padding-top: 42px;
    padding-right: auto;
  }
  .carousel-middle-picture {
    position: relative;
    width: 375px;
    height: 254px;
    margin: 0;
    left: -28px;
  }
  .carousel-flex-pictures {
    display: block;
  }
  .carousel-header {
    text-align: left;
    width: 250px;
    font-size: 28px;
    line-height: 35px;
  }
  .carousel-header-text {
    text-align: left;
    font-size: 18px;
  }
  .carousel-play-button-background {
    width: 68px;
    height: 45px;
    left: calc(50% - 34px);
  }
  .carousel-play-button {
    width: 31px;
    height: 25px;
    right: calc(50% - 17px);
    top: calc(50% - 5px);
  }
  .button-arrow {
    display: none;
  }
  .carousel-buttons-section-main {
    max-width: 72px;
    display: block;
    margin: 27px 150px 0 122px;
  }
}
