@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;600&display=swap");
.doctor-info-main {
  position: relative;
  padding-bottom: 57px;
  background-color: #e7f7ff;
  padding-left: 150px;
  padding-top: 65px;
}

.doctor-info-container {
  width: 633px;
  height: 377px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
}

.doctor-info-name {
  font-family: Merriweather;
  font-weight: 700;
  font-size: 40px;
  line-height: 50.28px;
  margin: 0;
}

.doctor-info-text {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat;
  width: 632px;
  font-size: 19px;
  font-weight: 400;
  line-height: 23.16px;
}

.doctor-info-bold-text {
  font-weight: 600;
}

.doctor-info-photo-of-doctor {
  position: absolute;
  bottom: 0;
  right: 150px;
  width: 515px;
  height: 515px;
}
.doctor-info-text-mobile {
  display: none;
}

@media all and (max-width: 375px) {
  .doctor-info-container {
    height: 347px;
  }
  .doctor-info-main {
    padding-top: 34px;
    padding-left: 28px;
    padding-bottom: 0;
  }
  .doctor-info-name {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 27px;
  }

  .doctor-info-text {
    font-size: 18px;
    width: 319px;
    height: 286px;
  }
  .doctor-info-bold-text {
    font-weight: 400;
  }
  .doctor-info-photo-of-doctor {
    position: relative;
    width: 317px;
    height: 317px;
    margin-left: 153px;
  }
  .doctor-info-text-mobile {
    display: block;
    font-size: 18px;
    font-family: "Montserrat", "serif";
    width: 319px;
  }
  .doctor-info-text {
    display: none;
  }
}
