@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@400;500;600&display=swap");
.doctor-block {
  background-color: #4b4141;
  padding-left: 150px;
  height: 523px;
  display: flex;
  position: relative;
}

.doctor-name {
  padding-top: 84px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.doctor-position {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding-top: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #a4a4a4;
}

.doctor-tagline {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  width: 519px;
  height: 132px;
  margin-bottom: 56px;
  margin-top: 24px;
}

.doctor-main-picture {
  width: 359px;
  height: 458px;
  position: absolute;
  bottom: 0;
  right: 274px;
}

.shadow_for_photo {
  position: absolute;
  height: 481px;
  width: 534px;
  bottom: 1px;
  right: 196px;
}

@media all and (max-width: 375px) {
  .doctor-block {
    padding-top: 72px;
    padding-left: 29px;
    display: flex;
    flex-direction: column;
    height: 670px;
    width: 375px;
  }
  .doctor-name {
    padding: 0;
  }
  .doctor-name-hidden-for-mobile {
    display: none;
  }
  .doctor-tagline {
    line-height: 24.38px;
    font-size: 20px;
    margin-bottom: 46px;
    height: auto;
  }
  .shadow_for_photo {
    width: 395px;
    height: 395px;
    left: 0;
  }
  .doctor-main-picture {
    width: 340px;
    height: 420px;
    bottom: 0;
    left: 35px;
  }
}
