@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;600&display=swap");
.instagram-main {
  padding-left: 144px;
  padding-right: 156px;
}

.instagram-header {
  text-align: center;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 40px;
  line-height: 50.28px;
  margin-top: 0;
  margin-bottom: 65px;
}

.instagram-carousel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.instagram-carousel-photo {
  width: 367px;
  height: 367px;
}

.instagram-carousel-buttons-section {
  position: relative;
  display: block;
  margin: 0 auto 82px auto;
  width: 256px;
  height: 45px;
}

.instagram-flex-buttons {
  display: flex;
}

.instagram-carousel-left-button {
  position: absolute;
  left: 0;
  height: 45px;
  width: 45px;
}

.instagram-carousel-right-button {
  position: absolute;
  right: 0;
  height: 45px;
  width: 45px;
}

.instagram-dots {
  width: 100%;
  text-align: center;
}

.instagram-active-dot {
  height: 12px;
  width: 12px;
  background-color: #c3007d;
  border-radius: 50%;
  display: inline-block;
  margin-top: 16.5px;
}

.instagram-dot-third {
  height: 12px;
  width: 12px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin-top: 16.5px;
}

.instagram-dot-second {
  height: 12px;
  width: 12px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  margin-top: 16.5px;
  margin-left: 18px;
  margin-right: 18px;
}
