@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

nav ul {
  width: 660px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}
nav {
  padding-left: 150px;
  padding-right: 150px;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 95px;
}

.nav-phone-number {
  font-weight: 600;
  font-size: 17px;
}

.nav-city {
  font-weight: 400;
  font-size: 14px;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-size: 18px;
}

.nav-logo {
  width: 141px;
  height: 61px;
  margin-right: 49px;
}

.nav-search-logo {
  width: 26px;
  height: 26px;
  margin-left: 66px;
  margin-right: 40px;
}

.nav-location-logo {
  width: 10px;
  height: 14px;
  padding-right: 6px;
}

.nav-drop-logo {
  height: 5px;
  width: 9px;
  padding-left: 4px;
}

.test div {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  line-height: 0;
}

.info .to-left {
  text-align: end;
}
